<mat-sidenav-container style="background-color: #ffffff56 " class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="background-color: rgba(0, 0, 0, 0.63); border: 0px"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar style="color: white;">Menu</mat-toolbar>
    <mat-nav-list>
      <a style="color: white;" mat-list-item (click)="homePage(); drawer.toggle(false)" routerLink="/home_page"><mat-icon style="padding-right: 15px;">home</mat-icon>Home</a>
      <a style="color: white;" mat-list-item (click)="pacientePage(); drawer.toggle(false)" routerLink="/paciente_list"><mat-icon style="padding-right: 15px;">assignment_ind</mat-icon>Pacientes</a>
      <a style="color: white;" mat-list-item (click)="agendamentoPage(); drawer.toggle(false)" routerLink="/agendamento_list"><mat-icon style="padding-right: 15px;">schedule</mat-icon>Agendamentos</a>
      <a style="color: white;" mat-list-item (click)="sair()" routerLink="/login"><mat-icon style="padding-right: 15px;">exit_to_app</mat-icon>Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #3273cdd5;">
      <button style="color:white;" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      
      <span style="color:white;">{{ menu }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>