

<mat-toolbar style="background-color: #3273cdd5;" class="app-header">
    <p style="color: white;">Agenda Médica</p>
    <span class="nav-tool-items">
        <button (click)="logar()" style="background-color:rgba(255, 255, 255, 0.800); margin-right: 15px;" mat-raised-button>Login</button>
        <button (click)="cadastro()" style="background-color:rgba(255, 255, 255, 0.800)" mat-raised-button>Cadastre-se</button>
    </span>
  </mat-toolbar>


<div *ngIf="login" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 30px;">Login</mat-card-title>
        </mat-card-header>
            
        
        <form class="example-form" [formGroup]="formLogin" (ngSubmit)="fazerLogin(formLogin.value)">
            <mat-card-content>  
                <mat-form-field class="example-full-width">
                    <input matInput type="text"  placeholder="Usuário" formControlName="inputUsuario">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password"  placeholder="Senha" formControlName="inputSenha">
                </mat-form-field>
            </mat-card-content>
                <button type="submit" mat-stroked-button color="accent" class="btn-block">Login</button>
        </form>
    </mat-card>
</div>

<div *ngIf="!login" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 30px;">Cadastro</mat-card-title>
        </mat-card-header>
            
        
        <form class="example-form" [formGroup]="formCadastro" (ngSubmit)="fazerCadastro(formCadastro.value)">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput type="text"  placeholder="Nome" formControlName="inputNome">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="text"  placeholder="Usuário" formControlName="inputLogin">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password"  placeholder="Senha" formControlName="inputSenha1">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password"  placeholder="Confirmar Senha" formControlName="inputSenha2">
                </mat-form-field>
            </mat-card-content>
                <button type="submit" mat-stroked-button color="accent" class="btn-block">Cadastrar</button>

        </form>

    </mat-card>
</div>
