<div>
    <div class = "table">
        <div>
            <div class="example-form">
                <p></p>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td width="10px">
                            <mat-form-field class = "example-full-width">
                                <mat-label>Buscar por</mat-label>
                                <mat-select [(value)]="buscarSelect">
                                    <mat-option value="nome">Nome</mat-option>
                                    <mat-option value="data">Data</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td width="100%">
                            <mat-form-field *ngIf="buscarSelect=='nome'" class="example-full-width">
                                <input [(ngModel)]="inputNome" id="inputNome" matInput placeholder="Digite o nome do paciente para buscar">
                            </mat-form-field>
                            <mat-form-field *ngIf="buscarSelect=='data'" class="example-full-width">
                                  <input [(ngModel)]="inputData" id="inputData" matInput placeholder="Data" type="date">
                            </mat-form-field>
                        </td>
                        <td>
                            <div class = "button">
                                <button style="width:90px" mat-raised-button color="primary" (click)="obterAgendamentos(inputNome, inputData)"> Buscar </button>
                            </div>
                        </td>
                    </tr>
                </table>
                
            </div>
        
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">  
                <ng-container matColumnDef="nomePaciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Nome Paciente</b> </th>
                <td mat-cell *matCellDef="let agendamento"> {{ agendamento.paciente.nome }} </td>
                </ng-container>
        
                <ng-container matColumnDef="horarioInicial">
                    <th mat-header-cell *matHeaderCellDef> <b>Horário Inicial</b> </th>
                    <td mat-cell *matCellDef="let agendamento"> {{ agendamento.horarioInicial | date: 'dd/MM/yyyy - HH:mm' }} </td>
                </ng-container>

                <ng-container matColumnDef="horarioFinal">
                    <th mat-header-cell *matHeaderCellDef> <b>Horário Final</b> </th>
                    <td mat-cell *matCellDef="let agendamento"> {{ agendamento.horarioFinal | date: 'dd/MM/yyyy - HH:mm' }} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef><b>Editar</b></th>
                    <td mat-cell *matCellDef="let agendamento; index as i">
                        <button mat-icon-button (click)="atualizar(i)" routerLink="/agendamento_cadastro">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="excluir">
                    <th mat-header-cell *matHeaderCellDef><b>Excluir</b></th>
                    <td mat-cell *matCellDef="let agendamento; index as i">
                        <button mat-icon-button (click)="deletar(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
        </div>
    </div>
    <div class = "button">
        <button style="width:90px" mat-raised-button color="primary" (click)="cadastrar()" routerLink="/paciente_list"> Novo </button>
    </div>
</div>
