.example-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.example-container > * {
    width: 100%;
}


.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
    width:75%;
}

div.button {
    padding: 20px;
    float: right;
}




  