<div class="example-container">
    <form [formGroup]="checkoutForm" class = "example-form" (ngSubmit)="onSubmit(checkoutForm.value)">
        <mat-card style="background-color:rgba(255, 255, 255, 0.800)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder= "Gerenciamento de Pacientes" disabled value="Paciente">
            </mat-form-field>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input id="inputNome" formControlName="inputNome" matInput placeholder="Nome">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="example-full-width">
                            <input id="inputDataNasc" formControlName="inputDataNasc" matInput placeholder="Data de Nascimento" type="date" min="1900-01-01" class="example-right-align">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-card>
        <div class = "button">
            <button style="background-color:rgba(255, 255, 255, 0.680);width:100px" type="submit" mat-raised-button> {{(isCadastro?"Cadastro": "Editar")}} </button>
        </div>
    </form>
</div>
  