<div class="example-container">

    <mat-toolbar  style="background-color:rgba(255, 255, 255, 0.800)">
        <table class="example-full-width" cellspacing="0">
          <tr>
              <td>
                  <mat-icon style="color:#3273cd; float: left;">person</mat-icon>
              </td>
              <td style="color:#3273cd" width="100%">
                  <p>Bem-Vindo {{user.nome}}</p>
              </td>
          </tr>
      </table>
    </mat-toolbar>
    <br>

    

    <form [formGroup]="form"  class = "example-form" (ngSubmit)="editarLogin(form.value)" >
    <mat-accordion >
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Perfil
            </mat-panel-title>
            <mat-panel-description>
              Editar Informações
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Nome" formControlName="inputNome">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Login" formControlName="inputLogin">
          </mat-form-field>
      
          
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Senha
            </mat-panel-title>
            <mat-panel-description>
              Alterar Senha
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="example-full-width">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="senha1" [disabled]="naoAlterarSenha" type="password" matInput placeholder="Senha">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="senha2" [disabled]="naoAlterarSenha" type="password" matInput placeholder="Confirmar Senha">
          </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>


      

      <div class = "button">
        <button style="background-color:rgba(255, 255, 255, 0.680);width:100px" type="submit" mat-raised-button> Salvar </button>
      </div>

      <div class = "checkbox" >
        <mat-card style="padding: 6px 10px 6px 10px;background-color:rgba(255, 255, 255, 0.680)">
        <mat-checkbox (click)="checkedSenha()">Alterar Senha</mat-checkbox>
        </mat-card>
      </div>
      

    </form>
    
    
        
</div>