<div class="example-container">
    <mat-form-field class="example-full-width">
        <input matInput placeholder= "Home" disabled value="Bem-vindo">
    </mat-form-field>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td width="10px">
                <mat-icon>person</mat-icon>
            </td>
            <td width="100%">
                <p>{{user.nome}}</p>
            </td>
        </tr>
    </table>
    <a (click)="editarLogin()">Editar Login</a>

    
        
</div>