.example-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.example-container > * {
    width: 100%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 30%;
}

td {
    padding-right: 8px;
}

div.button {
    padding: 20px;
    float: right;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    float: right;
}

div.checkbox {
    display: flex;
    padding: 20px;
    float: right;
}




  