<div>
    <div class = "table">
        <div>
            <br>
            <div class="example-form">
                <mat-card style="padding: 7px 10px 0px 15px;background-color:rgba(255, 255, 255, 0.800)">
                    <mat-form-field class="example-full-width">
                    <input [(ngModel)]="inputNome" id="inputNome" matInput placeholder="Digite o nome do paciente para buscar">
                    </mat-form-field>
                    <div class = "button">
                        <button style="background-color: #3273cdd5;width:90px" mat-raised-button color="primary" (click)="obterPacientes(inputNome)"> Buscar </button>
                    </div>
                </mat-card>
            </div>
            <br>           
        
            <table style="background-color:rgba(255, 255, 255, 0.425)" mat-table [dataSource]="dataSource" class="mat-elevation-z8">  
                <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Nome</b> </th>
                <td mat-cell *matCellDef="let paciente"> {{ paciente.nome }} </td>
                </ng-container>
        
                <ng-container matColumnDef="dataNasc">
                    <th mat-header-cell *matHeaderCellDef> <b>Data de Nascimento</b> </th>
                    <td mat-cell *matCellDef="let paciente"> {{ paciente.dataNasc | date: 'dd/MM/yyyy' }} </td>
                </ng-container>
        
                <ng-container matColumnDef="agendar">
                    <th class="icon" mat-header-cell *matHeaderCellDef><b>agendar</b></th>
                    <td class="icon" mat-cell *matCellDef="let paciente; index as i" >
                        <button mat-icon-button (click)="agendar(i)" routerLink="/agendamento_cadastro">
                            <mat-icon>schedule</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th class="icon" mat-header-cell *matHeaderCellDef><b>Editar</b></th>
                    <td class="icon" mat-cell *matCellDef="let paciente; index as i" >
                        <button mat-icon-button (click)="atualizar(i)" routerLink="/paciente_cadastro">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="excluir" >
                    <th class="icon" mat-header-cell *matHeaderCellDef><b>Excluir</b></th>
                    <td class="icon" mat-cell *matCellDef="let paciente; index as i" >
                        <button mat-icon-button (click)="deletar(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
        </div>
    </div>
    <div style="padding: 20px; float: right;">
        <button style="background-color:rgba(255, 255, 255, 0.680);width:90px" mat-raised-button (click)="cadastrar()" routerLink="/paciente_cadastro"> Novo </button>
    </div>
</div>
