table {
    width: 100%;
    table-layout: fixed;
}
    
.example-form {
    width: 100%;
}

.example-full-width {
    width: 90%;
}

div.button {
    padding: 10px;
    float: right;
    position: relative;
    top: 2px;
}

div.text {
    width: 98%;
    padding: 0px 10px;
}

div.table {
    width: 98%;
    padding: 0px 10px;
}

.icon {
    width: 100px;
    text-align:center;
}

